pandas
numpy
scenedetect
opencv-python
pymongo
ydata-profiling
econml
google-generativeai
python-dotenv
tqdm
pydantic
Pillow
imagehash
jsonpatch
jsonpointer
ipython
jupyter
jupyter-client
jupyter-core
fonttools
charset-normalizer
httpx
numba